# Node.js dependencies
node_modules/

# Cypress artifacts
cypress/videos/
cypress/screenshots/

# Coverage reports
coverage/

# Environment files
.env

# OS-specific files
.DS_Store

# Logs and temp files
*.log
*.tmp